@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    padding: 0;
    position: relative;
}

h1 {
    font-size: 2rem;
    font-weight: bolder;
}

@font-face {
    font-family: "San Francisco";
    font-weight: 400;
    src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
}